<!-- <app-directive-ngif></app-directive-ngif> -->
<!-- <app-directive-ngswitch></app-directive-ngswitch> -->
<!-- <app-directive-ngfor></app-directive-ngfor> -->
<!-- <app-directive-ngclass></app-directive-ngclass> -->
<!-- <app-directive-ngstyle></app-directive-ngstyle> -->
<!-- <app-operator-elvis></app-operator-elvis> -->
<!-- <app-example-ng-content>
  <div class="title"> Panel title</div>
  <div class="content">Description content</div>
</app-example-ng-content> -->
<app-custom-directive></app-custom-directive>
