<section class="property-binding">
  <article>
    <h3>Interpolation</h3>
    <p>String rendered with interpolation: {{ url }}</p>
    <p>The result of 1 + 1 is: {{ 1 + 1 }}</p>
    <p>The result of 1 + 1 not is: {{ 1 + 1 + getValue()}}</p>
    <p>I study Angular and like the course: {{ angularCourse && getLikeCourse()}}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img [src]="urlImage">
  </article>

  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Select a class:
      <select #classSelected (change)="0">
        <option value="alert-success">Success</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alert</option>
        <option value="alert-danger">Error</option>
      </select>
      <br><br>

      <div class="alert {{ classSelected.value }}" role="alert">
        Color text such as combo box value
      </div>

      <div class="alert" role="alert"
        [class.alert-success]="classSelected.value == 'alert-success'">
        Success
      </div>

      <div class="alert" role="alert"
      [class.alert-info]="classSelected.value == 'alert-info'">
        Info
      </div>

      <div class="alert" role="alert"
      [class.alert-warning]="classSelected.value == 'alert-warning'">
        Alert
      </div>

      <div class="alert" role="alert"
      [class.alert-danger]="classSelected.value == 'alert-danger'">
        Error
      </div>

      <div class="alert alert-danger" role="alert"
        [style.display]="classSelected.value == 'alert-danger' ? 'block' : 'none'">
        This text only exists in case of error
      </div>

    </div>
  </article>
</section>

<section class="input-output-properties">
  <article>
    <h3>Input/Output Properties</h3>

    <app-course [name]="courseName"></app-course>
  </article>

</section>
